@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Alex+Brush&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');
:root {
    --primary: #FF9934;
    --black: #131313;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 0px 60px;
    width: 100vw;
    height: 100px;
    background-color: var(--primary);
    align-items: center;
    cursor: pointer;
}
header nav {
    display: flex;
    text-decoration: none;
    color: var(--black);
    gap: 10px;
}
header nav a{
    text-decoration: none;
    color: var(--black);
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: 600;
    font-size: medium;
    transition: all 100ms ease-in-out;
}
header nav a:hover{
    background-color: #1313137e;
    color: white;
}
header .logo img{
    height: 80px;
}
header .icon img{
    height: 40px;
    cursor: pointer;
}
.site-footer {
    background-color: #f8f8f8;
    padding: 40px 0px;
    font-family: Arial, sans-serif;
    color: #181818;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    padding: 15px;
    background-color: #1313131f;
}

.footer-section {
    flex: 1;
    min-width: 200px;
}

.footer-logo {
    color: var(--primary);
    font-size: 24px;
}

.footer-links {
    list-style: none;
    padding: 0;
    line-height: 1.8;
}

.footer-links a {
    text-decoration: none;
    color: var(--black);
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: var(--primary);
}

.social-icons a {
    margin-right: 20px;
}

.social-icons i {
    font-size: 24px;
    color: var(--black);
    transition: transform 0.3s ease;
}

.social-icons i:hover {
    transform: scale(1.1);
    color: var(--primary);
}
section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 10px 20px;
    padding: 20px;
    gap: 20px;
}
.dica {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: lightgrey;
    border-radius: 20px;
}
.dica img {
    height: 100px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
}
.info-dica {
    padding: 15px;
}